.App {
  text-align: center;
}

nav {
  margin-bottom: 5px;
}

svg {
  fill: red;
}

.recipe_img {
  width: 400px;
  height: 400px;
  margin-top: 20px;
  margin-left: 20px;
}

h3 {
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

p {
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

button {
  height: 35px;
  margin: 5px;
  border-radius: 3px;
  color: #fff;
  font-size: 1.1em;
}
